<!DOCTYPE html>
<html lang="en">

	<head>
		<title>IT培优</title>
		<!-- custom-theme -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!-- //custom-theme -->
		<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="../../css/JiSlider.css" rel="stylesheet">
		<link rel="stylesheet" href="../../css/flexslider.css" type="text/css" media="screen" property="" />

		<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />

		<link rel="stylesheet" href="../../css/flexslider.css" type="text/css" media="screen" property="" />
		<!-- font-awesome-icons -->
		<link href="../../css/font-awesome.css" rel="stylesheet">
		<!-- //font-awesome-icons -->
		<link href="http://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<!-- banner -->
		<div class="main_section_agile">
			<div class="w3_agile_banner_top">
				<div class="agile_phone_mail">
					<ul class="agile_forms">
						<li><a class="active" href="#" data-toggle="modal" data-target="#myModal2"><i class="fa fa-sign-in" aria-hidden="true"></i>登录</a> </li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>

		</div>
		<!-- banner -->
		<div class="banner-silder">
			<div id="JiSlider" class="jislider">
				<ul>
		<li>
						<div class="w3layouts-banner-top w3layouts-banner-top2">
							<div class="container">
								<div class="agileits-banner-info">
									<span>我们</span>
									<h3>以梦为码，披荆斩棘</h3>
								</div>

							</div>
						</div>
			</li>
					<li>
						<div class="w3layouts-banner-top">

							<div class="container">
								<div class="agileits-banner-info">
									<span>IT培优</span>
									<h3>stay hungry stay foolish</h3>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div class="w3layouts-banner-top w3layouts-banner-top1">
							<div class="container">
								<div class="agileits-banner-info">
									<span><a href="func/regisTable.html">报名表</a></span>
									<h3>欢迎大家加入我们！</h3>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>

		<!-- //banner -->
		<!-- Modal1 -->
		<div class="modal fade" id="myModal2" tabindex="-1" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>

						<div class="signin-form profile">
							<h3 class="agileinfo_sign">登录</h3>
							<div class="login-form">
								<form action="/regisadmin" method="post">
									<input type="text" name="adminname" placeholder="用户名" required="">
									<input type="password" name="adminpassword" placeholder="密码" required="">
									<div class="tp">
										<input type="submit" value="登录">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- //Modal1 -->

		<!-- bootstrap-pop-up -->
		<div class="modal video-modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">

						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<section>
						<div class="modal-body">
							<h5>实验室</h5>
							<img src="../../images/shiyanshi.jpg" alt=" " class="img-responsive" />
							<p>实验室是我们的另一个家、另一个寝室。大家在实验室一起学习、聊天，约一波饭也是很正常的事，偶尔学长学姐还会发点福利。所以如果加入了我们，就请多多来实验室！</p>
						</div>
					</section>
				</div>
			</div>
		</div>
		<div class="modal video-modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">

						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<section>
						<div class="modal-body">
							<h5>聚会</h5>
							<img src="../../images/juhui.jpg" alt=" " class="img-responsive" />
							<p>我们不只在实验室中学习，我们也会出去春游，秋游。还会吃烧烤，骑单车，狼人杀各种happy各种浪...</p>
						</div>
					</section>
				</div>
			</div>
		</div>
		
		
		<div class="modal video-modal fade" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModal12">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">

						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<section>
						<div class="modal-body">
							<h5>比赛</h5>
							<img src="../../images/bisai.png" alt=" " class="img-responsive" />
							<p>我们是个自主学习的小组，更多地在于自学，而检验我们学习的方式就是比赛，我们会有很多比赛的项目，只要你有技术，有能力，奖杯都会是你的！</p>
						</div>
					</section>
				</div>
			</div>
		</div>
		
		<div class="modal video-modal fade" id="myModal22" tabindex="-1" role="dialog" aria-labelledby="myModal22">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">

						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
					</div>
					<section>
						<div class="modal-body">
							<h5>成果展</h5>
							<img src="../../images/cheng.jpg" alt=" " class="img-responsive" />
							<p>成果展示大会是IT培优的特色活动，每年举办一次，展示在这一年里各个小组的学习成果。我们也是相当重视这一次的活动，让更多爱学习的人加入我们！</p>
						</div>
					</section>
				</div>
			</div>
		</div>
		<!-- //bootstrap-pop-up -->
		<!-- banner-bottom -->
		<div class="banner-bottom">
			<div class="container">
				<h3>主要分支</h3>
				<div class="agileits_banner_bottom_grids">
					<div class="col-md-3 agileits_banner_bottom_grid">
						<div class="hovereffect w3ls_banner_bottom_grid">
							<img src="../../images/11.jpg" alt=" " class="img-responsive" />
							<div class="overlay">
								<h4>美工组</h4>
								<p>组长：詹梦芸</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 agileits_banner_bottom_grid">
						<div class="hovereffect w3ls_banner_bottom_grid">
							<img src="../../images/8.jpg" alt=" " class="img-responsive" />
							<div class="overlay">
								<h4>编程组</h4>
								<p>组长：邵博超</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 agileits_banner_bottom_grid">
						<div class="hovereffect w3ls_banner_bottom_grid">
							<img src="../../images/9.jpg" alt=" " class="img-responsive" />
							<div class="overlay">
								<h4>商务组</h4>
								<p>组长：罗艺</p>
							</div>
						</div>
					</div>
					<div class="col-md-3 agileits_banner_bottom_grid">
						<div class="hovereffect w3ls_banner_bottom_grid">
							<img src="../../images/12.jpg" alt=" " class="img-responsive" />
							<div class="overlay">
								<h4>教师技能组</h4>
								<p>组长：郭佳</p>
							</div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>

			</div>
		</div>
		<!-- //banner-bottom -->

		<!-- services -->
		<div class="services" id="services">
			<div class="container">
				<h3 class="w3l_header w3_agileits_header two">各组<span>详情</span></h3>
				<div class="agile_inner_w3ls-grids two">
					<div class="col-md-3 service-box">
						<figure class="icon">
							<span>1</span>
							<i class="fa fa-graduation-cap" aria-hidden="true"></i>
						</figure>
						<h5>美工组</h5>
						<p><a href="/about/pingmian.html" target="_blank">平面组</a></p>
						<p><a href="/about/yingshi.html" target="_blank">影视编辑组</a></p>
						<p><a href="/about/qianduan.html" target="_blank">web前端组</a></p>
					</div>
					<div class="col-md-3 service-box">

						<figure class="icon">
							<span>2</span>
							<i class="fa fa-laptop" aria-hidden="true"></i>
						</figure>
						<h5>编程组</h5>
						<p><a href="/about/ios.html" target="_blank">IOS组</a></p>
						<p><a href="/about/android.html" target="_blank">安卓组</a></p>
						<p><a href="/about/windows.html" target="_blank">windows组</a></p>
						<p><a href="/about/qianru.html" target="_blank">嵌入式组</a></p>
						<p><a href="/about/xinan.html" target="_blank">信安组</a></p>
						<p><a href="/about/acm.html" target="_blank">ACM组</a></p>
					</div>
					<div class="col-md-3 service-box">
						<figure class="icon">
							<span>3</span>
							<i class="fa fa-book" aria-hidden="true"></i>
						</figure>
						<h5>商务组</h5>
						<p><a href="/about/shangwu.html" target="_blank">商务组</a></p>
					</div>
					<div class="col-md-3 service-box">
						<figure class="icon">
							<span>4</span>
							<i class="fa fa-lightbulb-o" aria-hidden="true"></i>
						</figure>
						<h5>教师技能组</h5>
						<p><a href="/about/teach.html" target="_blank">教师技能组</a></p>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //services -->

		<!-- blog -->
		<div class="blog" id="blog">
			<div class="container">

				<h3 class="w3l_header w3_agileits_header">我们的 <span>生活</span></h3>
				<div class="agile_inner_w3ls-grids">

					<div class="col-sm-6 w3-agile-post-grids">
						<div class="w1-agile-post-img w3-agile-post-img1">
							<a href="#" data-toggle="modal" data-target="#myModal">
							</a>
						</div>
						<div class="w3-agile-post-info">
							<h4><a href="#" data-toggle="modal" data-target="#myModal">实验室</a></h4>
							
							<p>实验室是学习的圣地！</p>
						</div>
					</div>
					<div class="col-sm-6 w3-agile-post-grids">
						<div class="w2-agile-post-img w3-agile-post-img1">
							<a href="#" data-toggle="modal" data-target="#myModal1">
							</a>
						</div>
						<div class="w3-agile-post-info">
							<h4><a href="#" data-toggle="modal" data-target="#myModal1">聚会</a></h4>
							<p>一学期两次的聚会！</p>
						</div>
					</div>
					<div class="col-sm-6 w3-agile-post-grids">
						<div class="w3-agile-post-img w3-agile-post-img1">
							<a href="#" data-toggle="modal" data-target="#myModal12">
							</a>
						</div>
						<div class="w3-agile-post-info">
							<h4><a href="#" data-toggle="modal" data-target="#myModal12">比赛</a></h4>
							<p>展示自己能力的舞台！</p>
						</div>
					</div>
					<div class="col-sm-6 w3-agile-post-grids">
						<div class="w4-agile-post-img w3-agile-post-img2">
							<a href="#" data-toggle="modal" data-target="#myModal22">

							</a>
						</div>
						<div class="w3-agile-post-info">
							<h4><a href="#" data-toggle="modal" data-target="#myModal22">成果展</a></h4>
							<p>一年一次的成果展！</p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //blog -->
		<!-- stats -->
		<div class="stats" id="stats">
			<div class="container">
				<div class="inner_w3l_agile_grids">
					<div class="col-md-3 w3layouts_stats_left w3_counter_grid">
						<i class="fa fa-laptop" aria-hidden="true"></i>
						<p class="counter">100</p>
						<h3>美工组</h3>
					</div>
					<div class="col-md-3 w3layouts_stats_left w3_counter_grid1">
						<i class="fa fa-smile-o" aria-hidden="true"></i>
						<p class="counter">100</p>
						<h3>编程组</h3>
					</div>
					<div class="col-md-3 w3layouts_stats_left w3_counter_grid2">
						<i class="fa fa-trophy" aria-hidden="true"></i>
						<p class="counter">100</p>
						<h3>商务组</h3>
					</div>
					<div class="col-md-3 w3layouts_stats_left w3_counter_grid3">
						<i class="fa fa-user" aria-hidden="true"></i>
						<p class="counter">100</p>
						<h3>教师技能组</h3>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //stats -->

		<!-- testimonials -->
		<div class="testimonials">
			<div class="col-md-6 w3layouts_event_left">
				<img src="../../images/fuze.jpg" alt=" " class="img-responsive" />
			</div>
			<div class="col-md-6 w3layouts_event_right">
				<h3>总负责人</h3>
				<section class="slider">
					<div class="flexslider">
						<ul class="slides">
							<li>
								<div class="w3_event_right_grid">
									<div class="w3layouts_event_right_para">
										<p>&nbsp;</p>
										<div class="w3layouts_event_right_para_pos">
											<i class="fa fa-quote-left" aria-hidden="true"></i>
										</div>
									</div>
									<div class="w3_agile_event_right_grids">
										<div class="col-xs-4 w3_agile_event_right_grid_left">
											<img src="../../images/test1.jpg" alt=" " class="img-responsive" />
										</div>
										<div class="col-xs-8 w3_agile_event_right_grid_right">
											<h4>康润</h4>
											<p>软件工程</p>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
							</li>
							<li>
								<div class="w3_event_right_grid">
									<div class="w3layouts_event_right_para">
										<p>&nbsp;</p>
										<div class="w3layouts_event_right_para_pos">
											<i class="fa fa-quote-left" aria-hidden="true"></i>
										</div>
									</div>
									<div class="w3_agile_event_right_grids">
										<div class="col-xs-4 w3_agile_event_right_grid_left">
											<img src="../../images/text2.JPG" alt=" " class="img-responsive" />
										</div>
										<div class="col-xs-8 w3_agile_event_right_grid_right">
											<h4>杨苗</h4>
											<p>软件工程</p>
										</div>
										<div class="clearfix"> </div>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</section>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!-- //testimonials -->

		<!-- footer -->
			<div class="f-bg-w3l">
				<div class="container">
					
						<div id="mnb">
					 <p>@四川师范大学  计算机科学学院  IT培优</p>
					  
					</div>
					
					
				</div>
			</div>
		<!-- //footer -->
		<!-- start-smoth-scrolling -->
		<!-- js -->
		<script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
		<!-- //js -->
		<script src="../../js/JiSlider.js"></script>
		<script>
			$(window).load(function() {
				$('#JiSlider').JiSlider({
					color: '#fff',
					start: 3,
					reverse: true
				}).addClass('ff')
			})
		</script>
		<!-- stats -->
		<script src="../../js/jquery.waypoints.min.js"></script>
		<script src="../../js/jquery.countup.js"></script>
		<script>
			$('.counter').countUp();
		</script>
		<!-- //stats -->
		<!-- //footer -->
		<!-- flexSlider -->
		<script defer src="../../js/jquery.flexslider.js"></script>
		<script type="text/javascript">
			$(window).load(function() {
				$('.flexslider').flexslider({
					animation: "slide",
					start: function(slider) {
						$('body').removeClass('loading');
					}
				});
			});
		</script>
		<!-- //flexSlider -->

		<script type="text/javascript" src="../../js/move-top.js"></script>
		<script type="text/javascript" src="../../js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop: $(this.hash).offset().top
					}, 1000);
				});
			});
		</script>
		<!-- start-smoth-scrolling -->
		<!-- for bootstrap working -->
		<script src="../../js/bootstrap.js"></script>
		<!-- //for bootstrap working -->
		<!-- here stars scrolling icon -->
		<script type="text/javascript">
			$(document).ready(function() {
				/*
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
					};
				*/
				$().UItoTop({
					easingType: 'easeOutQuart'
				});
			});
		</script>
		<!-- //here ends scrolling icon -->
	</body>

</html>