<!DOCTYPE html>
<html lang="en">

	<head>
		<title>教师技能组</title>
		<!-- custom-theme -->
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="keywords" content="" />
		<script type="application/x-javascript">
			addEventListener("load", function() {
				setTimeout(hideURLbar, 0);
			}, false);

			function hideURLbar() {
				window.scrollTo(0, 1);
			}
		</script>
		<!-- //custom-theme -->
		<link href="../../css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
		<link href="../../css/style.css" rel="stylesheet" type="text/css" media="all" />
		<!-- font-awesome-icons -->
		<link href="../../css/font-awesome.css" rel="stylesheet">
		<!-- //font-awesome-icons -->
		<link href="http://fonts.googleapis.com/css?family=Raleway:400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
	</head>

	<body>
		<!-- banner -->
		<div class="main_section_agile">
			<div class="w3_agile_banner_top">
				<div class="agile_phone_mail">
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<div class="banner15">

			<div class="w3_agileits_service_banner_info">
				<h2>教师技能组</h2>
			</div>
		</div>
		<!-- //banner -->

		<!-- services -->
		<div class="services two">
			<div class="container">
				<h3 class="w3l_header w3_agileits_header">教师技能 <span>组</span></h3>
				<div class="wthree_services_grids">
					<div class="col-md-6 wthree_services_grid_left">
						<h3>小组 <span>详</span>情</h3>
						<h4>Choose your course</h4>
						<br />
						<p>我们旨在向同学们传播现代教育理念，提升同学们的课堂教学能力及多媒体课件制作能力，并给同学们能力的锻炼提供合适的平台，着重于教师技能的培养，主要从教师课堂教学能力；“三笔一画”能力；多媒体课件制作能力；教学论文撰写能力等四个方面。我们欢迎有志于利用技术让教育更美好的同学加入我们小组。
</p>
						

					</div>
					<div class="col-md-6 wthree_services_grid_right">
						<img src="../../images/jiaoji.JPG" height="100%" width="100%"/>
						<div class="clearfix"> </div>
					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
		<!-- //services -->

		<!-- stats -->
		
		<!-- //stats -->

		<!-- stats-bottom -->
		<div class="stats-bottom contact">
			<div class="container">
				<h3 class="w3l_header w3_agileits_header">小组 <span>作品</span></h3>
				<div class="agileinfo_services_grids">
					<div class="col-md-4 agileinfo_services_grid">
						<div class="agileinfo_services_grid1">
							<img src="../../images/jiaoji1.jpg"  width="200px" height="150px"/>
							<h4>中国大学MOOC远程教育应用</h4>
							<p>中国大学MOOC系列课程
</p>
						</div>
					</div>
					<div class="col-md-4 agileinfo_services_grid">
						<div class="agileinfo_services_grid1">
							<img src="../../images/jiaoji2.jpg"  width="200px" height="150px"/>
							<h4>什么是二进制</h4>
							<p>本作品利用教学设计技术及多种平面制作技术从学生熟悉的、感兴趣的话题引入，并且形象、具体的演示二进制的计数过程。
</p>
						</div>
					</div>
					<div class="col-md-4 agileinfo_services_grid">
						<div class="agileinfo_services_grid1">
							<img src="../../images/jiaoji3.jpg"  width="200px" height="150px"/>
							<h4>物质循环</h4>
							<p>讲解物质循环的重要过程碳循环，利用手绘绘画的形式进行逐一讲解，最后终结知识点，并用纸条的形式展示出来。</p>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
				
			</div>
		</div>
		<!-- //stats-bottom -->
		<!-- footer -->
		<div class="f-bg-w3l">
				<div class="container">
					
						<div id="mnb">
					 <p>@四川师范大学  计算机科学学院  IT培优</p>
					</div>
					
					
				</div>
			</div>
		<!-- //footer -->
		<!-- js -->
		<script type="text/javascript" src="../../js/jquery-2.1.4.min.js"></script>
		<!-- //js -->
		<!-- stats -->
		<script src="../../js/jquery.waypoints.min.js"></script>
		<script src="../../js/jquery.countup.js"></script>
		<script>
			$('.counter').countUp();
		</script>
		<!-- //stats -->
		<!-- flexSlider -->
		<script defer src="../../js/jquery.flexslider.js"></script>
		<script type="text/javascript">
			$(window).load(function() {
				$('.flexslider').flexslider({
					animation: "slide",
					start: function(slider) {
						$('body').removeClass('loading');
					}
				});
			});
		</script>
		<!-- //flexSlider -->

		<!-- start-smoth-scrolling -->
		<script type="text/javascript" src="../../js/move-top.js"></script>
		<script type="text/javascript" src="../../js/easing.js"></script>
		<script type="text/javascript">
			jQuery(document).ready(function($) {
				$(".scroll").click(function(event) {
					event.preventDefault();
					$('html,body').animate({
						scrollTop: $(this.hash).offset().top
					}, 1000);
				});
			});
		</script>
		<!-- start-smoth-scrolling -->
		<!-- for bootstrap working -->
		<script src="../../js/bootstrap.js"></script>
		<!-- //for bootstrap working -->
		<!-- here stars scrolling icon -->
		<script type="text/javascript">
			$(document).ready(function() {
				/*
					var defaults = {
					containerID: 'toTop', // fading element id
					containerHoverID: 'toTopHover', // fading element hover id
					scrollSpeed: 1200,
					easingType: 'linear' 
					};
				*/
				$().UItoTop({
					easingType: 'easeOutQuart'
				});
			});
		</script>
		<!-- //here ends scrolling icon -->
		<a id="toTop" style="display: block;" href="#">
			<span id="toTopHover"></span>
			To Top
		</a>
		<a id="tohome" style="display: block;" href="/">
			<span id="tohomeHover"></span>
			To Top
		</a>
	</body>

</html>