<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--
    <link rel="stylesheet" type="text/css" href="../../stylesheets/solarstyle.css">
    -->
    <link href="../../css/solar.css" rel="stylesheet" type="text/css" media="all" />
    <title>Document</title>
</head>

<body style="margin:20%">



    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">服务器端 数据库技术支持</h3>
        </div>
        <div class="panel-body">
            <strong><h3>邵博超</h3></strong>
        </div>
    </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">前端技术人员</h3>
        </div>
        <div class="panel-body">
            <strong><h3>何丹阳</h3></strong>
            <strong><h3>林湘怡</h3></strong>
        </div>
    </div>

    <div class="alert alert-dismissible alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>提出问题，或想认识我们，参与开发，请联系</strong>
        <p>dexter0ion@gmail.com</p>
    </div>
</body>

</html>